.header{
  text-align: center;
  font-size: 20px;
}



hr, #line{
  border-top: 2px solid black;
}

hr{border-top: 5px solid black}

.text{
  font-size: 30px
}

.space-line{
  font-size: 30px;
}

.list{
  font-size: 30px;
}

.line-soft{
  border-top: 7px solid gray;
  
}

.wrapper{
  padding-left: 100px;
  padding-right: 100px;
}